{% extends 'base.html.twig' %}

{% block title %}Liste des restaurants{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Message</th>
            <th scope="col">Rating</th>
            <th scope="col">Date</th>
            
        </tr>
        </thead>
        <tbody>
        {% for data in review %}
            <tr>
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.message }}</td>
                <td>{{ data.rating }}</td>
                <td>{{ data.getCreatedAt()|date('Y-m-d') }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}