{% extends 'base.html.twig' %}

{% block title %}Liste des restaurants{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            
        </tr>
        </thead>
        <tbody>
        {% for data in users %}
            <tr>
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.username }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}